<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Patient Heart Report</title>
</head>

<body style="background-color: rgb(7, 125, 133);">

    <h1> Patient Heart Report </h1>
    <form method="POST" action="/heart_disease">

        <label>Age:</label>
        <input type = "text" name = "age">
        </select>

        <br>
        <br>

        <label>Sex:</label>
        <input type = "text" name = "sex">
        </select>

        <br>
        <br>
        <label>cp:</label>
        <input type = "text" name = "cp">
        </select>

        <br>
        <br>

        <label>trestbps:</label>
        <input type = "text" name = "trestbps">
        </select>

        <br>
        <br>
        <label>chol:</label>
        <input type = "text" name = "chol">
        </select>

        <br>
        <br>
        <label>fbs:</label>
        <input type = "text" name = "fbs">
        </select>

        <br>
        <br>
        <label>restecg:</label>
        <input type = "text" name = "restecg">
        </select>


        <br>
        <br>
        
        <label>thalach:</label>
        <input type = "text" name = "thalach">
        </select>
        <br>
        <br>
        <label>exang:</label>
        <input type = "text" name = "exang">
        </select>
        <br>
        <br>
        <label>oldpeak:</label>
        <input type = "text" name = "oldpeak">
        </select>
        <br>
        <br>
        <label>slope:</label>
        <input type = "text" name = "slope">
        </select>
        <br>
        <br>
        <label>ca:</label>
        <input type = "text" name = "ca">
        </select>
        <br>
        <br>
        <label>thal:</label>
        <input type = "text" name = "thal">
        </select>

    

        <br>
        <br>

        <input type = "submit" value="SUBMIT">

        <br>

    <p>Detection of Heart patient will be:: <b>{{prediction}}</b></p>


    </form>


</body>
</html>